.banner31-container36 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.banner31-image7 {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
}
.banner31-max-width17 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
}
.banner31-container37 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
}
.banner31-title17 {
  color: #d9d5d0;
  text-align: center;
  font-family: "TrebuchetMS";
}
.banner31-text17 {
  color: #d9d5d0;
  text-align: center;
  font-family: "TrebuchetMS";
}
.banner31-root-class-name {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
.banner31-root-class-name1 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
.banner31-root-class-name2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
.banner31-root-class-name3 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
.banner31-root-class-name4 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
.banner31-root-class-name5 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
.banner31-root-class-name6 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
.banner31-root-class-name7 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}

.home-container {
  width: 100%;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #26313f;
}
.home-contents-container {
  width: 847px;
  height: 1005px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-menu-bar {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: 174px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
  background-color: #2e3b4b;
}
.home-home-button {
  color: rgb(217, 213, 208);
  display: flex; /* Utiliza Flexbox */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  width: 111px;
  height: 62px;
  font-size: 20px;
  border-width: 0px;
  border-radius: 0px;
  text-decoration: none;
  text-align: center;
  background-color: rgb(150, 87, 122);
}
.home-projects-button {
  color: #d9d5d0;
  display: flex; /* Utiliza Flexbox */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  width: 111px;
  height: 62px;
  font-size: 20px;
  border-width: 0px;
  border-radius: 0px;
  text-decoration: none;
  text-align: center;
  background-color: rgb(150, 87, 122);
}
.home-hobbies-button {
  color: #d9d5d0;
  display: flex; /* Utiliza Flexbox */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  width: 111px;
  height: 62px;
  font-size: 20px;
  border-width: 0px;
  border-radius: 0px;
  text-decoration: none;
  text-align: center;
  background-color: rgb(150, 87, 122);
}
.home-contact-button {
  color: rgb(217, 213, 208);
  display: flex; /* Utiliza Flexbox */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  width: 111px;
  height: 62px;
  font-size: 20px;
  border-width: 0px;
  border-radius: 0px;
  text-decoration: none;
  text-align: center;
  background-color: rgb(150, 87, 122);
}
.home-text-container {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  padding-top: 15px;
  border-color: #2e3b4b;
  border-width: 1px;
  padding-left: 48px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 48px;
  padding-bottom: 15px;
  justify-content: flex-end;
  background-color: rgba(46, 59, 75, 0);
}
.home-container1 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 521px;
  height: 468px;
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 1px;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: column;
  padding-bottom: 10px;
}
.home-current-job {
  color: rgb(217, 213, 208);
  font-size: 18px;
}
.home-text03 {
  text-decoration: underline;
}
.home-current-desc {
  color: rgb(217, 213, 208);
}
.home-line {
  color: rgb(217, 213, 208);
}
.home-prev1 {
  color: rgb(217, 213, 208);
}
.home-text14 {
  font-size: 18px;
}
.home-text15 {
  font-size: 18px;
}
.home-text16 {
  font-size: 18px;
}
.home-prev1-desc {
  color: rgb(217, 213, 208);
}
.home-line1 {
  color: rgb(217, 213, 208);
}
.home-prev2 {
  color: rgb(217, 213, 208);
}
.home-text23 {
  font-size: 18px;
}
.home-text25 {
  font-size: 18px;
}
.home-prev2-desc {
  color: rgb(217, 213, 208);
}
.home-profile-container {
  width: 200px;
  height: 474px;
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  flex-direction: column;
  padding-bottom: 5px;
  justify-content: flex-start;
}
.home-profile-pic {
  width: 200px;
  object-fit: cover;
  border-color: #26313f;
  border-width: 1px;
  border-radius: 350px;
}
.home-info-container {
  gap: var(--dl-space-space-halfunit);
  width: 200px;
  height: 198px;
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-left: 9px;
  padding-right: 5px;
  flex-direction: column;
  padding-bottom: 15px;
  justify-content: flex-start;
}
.home-name-tag {
  fill: #d9d5d0;
  color: rgb(217, 213, 208);
}
.home-desc-tag {
  fill: #d9d5d0;
  color: rgb(217, 213, 208);
  font-size: 12px;
}
.home-degree-tag {
  fill: #d9d5d0;
  color: rgb(217, 213, 208);
  font-size: 12px;
}
.home-adskill-tag {
  fill: #d9d5d0;
  color: rgb(217, 213, 208);
  font-size: 12px;
}
.home-text33 {
  text-decoration: underline;
}
.home-adskill-tag1 {
  fill: #d9d5d0;
  color: rgb(217, 213, 208);
  font-size: 12px;
}
.home-text35 {
  text-decoration: underline;
}
.home-footer-container {
  gap: var(--dl-space-space-sixunits);
  width: 100%;
  height: 74px;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
  background-color: #2e3b4b;
}
.home-disc-tag {
  fill: #d9d5d0;
  color: rgb(217, 213, 208);
  font-size: 11px;
}
.home-container-icon {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 420px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-link {
  display: contents;
}
.home-icon-in {
  width: auto;
  height: auto;
  object-fit: cover;
  text-decoration: none;
}
.home-link1 {
  display: contents;
}
.home-icon-git {
  width: auto;
  height: auto;
  object-fit: cover;
  text-decoration: none;
}
